<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>wdcmdb</title>
    <script src="/static/plugins/datatables/jQuery-2.1.4/jquery-2.1.4.js"></script>
    <script type="text/javascript">//<![CDATA[

    //$(function () {
        //$('#backup_all').click(function () {
            var socket = new WebSocket("ws://" + window.location.host + "/deploy/ansible/web_socket/");
            //alert('ws://' + window.location.host + '/deploy/echo_result/')
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
                //socket.send($('#backup_all').val());//发送数据到服务端
                socket.send($('#cmd').val());
            };
            socket.onmessage = function (e) {
                console.log('message: ' + e.data);//打印服务端返回的数据

                $('#messagecontainer').prepend('<p><pre>' + e.data + '</pre></p>');
                $('#messagecontainer').prepend('运行结果：<br/>');
                $('#messagecontainer').prepend('<hr />');

            };
        //});
    //});
    </script>
</head>
<body>
<br>

serverinof: {{serverinfo}}<br>
schedule: {{serverinfo.schedule}}<br>
object: {{serverinfo.object}}<br>
act: {{serverinfo.act}}<br>
command: {{serverinfo.command}}<br>
<br>

<!--<input type="hidden" name="username" id="backup_all" value="backup_all"><br>-->
<input type="hidden" name="username" id="cmd" value="{{serverinfo.command}}"><br>
<!--<button style="margin: 20px;height: 40px;background-color: #00ff00;" type="button" id="backup_all" value="backup_all">
    运行结果：
</button>
-->
<h3 style="margin: 20px;">运行中ing:</h3>
<div id="messagecontainer" style="margin: 20px;">
</div>
<hr/>
</body>
</html>
